@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/*-----------------------------------------------*/
header .wrapper {
  margin: 0;
  padding: 0;
  max-width: 100%;
  position: relative;
}
header .wrapper .content-wrapper {
  float: right;
  width: 100%;
}

/*-----------------------------------------------*/
.sidebar {
  -webkit-box-shadow: 4px 0 5px -2px rgba(94, 94, 94, 0.81);
  box-shadow: 4px 0 5px -2px rgba(94, 94, 94, 0.81);
  text-align: center;
  position: fixed;
  width: 420px;
  margin-right: -320px;
  float: left;
  color: #fff !important;
  height: 100%;
  background-image: -webkit-linear-gradient(bottom, #1687ed 0%, #14375a 100%);
  background-image: -moz-linear-gradient(bottom, #1687ed 0%, #14375a 100%);
  background-image: -o-linear-gradient(bottom, #1687ed 0%, #14375a 100%);
  background-image: -ms-linear-gradient(bottom, #1687ed 0%, #14375a 100%);
  background-image: linear-gradient(to top, #1687ed 0%, #14375a 100%);
}
.sidebar .bio {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  display: block;
  margin: 0 auto;
}
.sidebar .bio .title h1 {
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 28px;
}
.sidebar .bio .title h2 {
  font-size: 20px;
  margin: 0 0 30px 0;
  font-weight: 300;
  letter-spacing: 1.6px;
}
.sidebar .bio .avatar img {
  width: 140px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.sidebar .bio .desc {
  width: 85%;
  display: block;
  margin: 0 auto;
}
.sidebar .bio .desc p {
  font-size: 15px;
  font-weight: 300;
  color: #f2f2f2;
}
.sidebar .address, .phone, .email p{
  line-height: 2px;
}
.sidebar .bio .social {
  margin-top: 30px;
}
.sidebar .bio .social a {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sidebar .bio .social a:hover,
.sidebar .bio .social a:focus {
  color: #fff;
}
.sidebar .bio .social i {
  font-size: 28px;
}
.sidebar .bio .social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .bio .social ul li {
  display: inline-block;
  margin-right: 5px;
}

/*---------------------------------------*/
.content {
  padding: 30px 0 0 60px;
  position: relative;
  margin-left: 420px;
  clear: both;
  overflow: auto;
  color: #777;
}
.content .title {
  padding-bottom: 20px;
}
.content .title i {
  float: left;
  color: #233f5d;
  font-size: 26px;
  margin-right: 15px;
}
.content .title h2 {
  color: #555;
}
.content .title .item {
  margin-bottom: 30px;
}
.content .title .item h3 {
  color: #777;
  margin-bottom: 5px;
}
.content .title .item span {
  color: rgba(35, 63, 93, 0.9);
  font-weight: 300;
}
.content .title .item p {
  margin-top: 0;
  width: 95%;
  letter-spacing: 1.1px;
  line-height: 25px;
}
.content .title .w33 {
  width: 30%;
  display: inline-block;
}

/*-----------------------------------------------*/
.skills {
  height: 10px;
  position: relative;
  background: #233f5d;
  border-radius: 50px;
  padding: 6px;
  width: 90%;
  margin-top: 10px;
}
.skills span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1687ed;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}
.skills span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: -ms-linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 4s linear infinite;
  -moz-animation: move 4s linear infinite;
  -o-animation: move 4s linear infinite;
  -ms-animation: move 4s linear infinite;
  animation: move 4s linear infinite;
  overflow: hidden;
}

/*-----------------------------------------------*/
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .sidebar {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 0;
    width: 100%;
    position: relative;
  }
  .sidebar .bio {
    position: relative;
    top: 0%;
    left: 0%;
  }
  .content {
    margin-left: 0;
    position: relative;
    padding: 20px;
  }
  .content .title .item h3 span {
    display: block;
  }
  .content .title .item p {
    width: 100%;
    text-align: justify;
  }
  .content .title .skills {
    width: 100%;
    margin-top: 0;
  }
  .content .title .w33 {
    width: 95%;
    display: inline-block;
  }
}
